.main-chat__contents__content.message{data: {message: {id: message.id}}}
  .main-chat__contents__content__top
    .main-chat__contents__content__top--user-name
      = message.user.name
    .main-chat__contents__content__top--date
      = message.created_at.strftime("%Yĺš´%mć%dćĽ %Hć%Mĺ")
  .main-chat__contents__content__message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
