// ------------------------------------------------
// Color
$sideWhiteColor: #ffffff;
$btnBlueColor: #38aef0;
$mainBlackColor: #999999;

// ------------------------------------------------
// mixin
@mixin h_w($height, $width){
  height: $height;
  width: $width;
}
@mixin  dis_jus($display, $justify-content){
  display: $display;
  justify-content: $justify-content;
}


// ------------------------------------------------
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $sideWhiteColor;
}
.wrapper{
  display: flex;
}
// ------------------------------------------------
// side
.side-bar {
  @include h_w(100vh, 300px);
  background-color: #253141;
  display: inline-block;
  &__header{
    @include h_w(100px, 100%);
    @include dis_jus(flex, center);
    align-items: center;
    &__content{
      @include h_w(20px, 260px);
      @include dis_jus(flex, space-between);
      line-height: 20px;
      &--user-name{
        @include h_w(100%, calc(100% - 60px));
        color: $sideWhiteColor;
      }
      &__icon{
        @include h_w(100%, 60px);
        @include dis_jus(flex, flex-end);
        color: $sideWhiteColor;

        .fas{
          margin-left: 5px;
        }
      }
    }
  }

  &__lists{
    @include h_w(calc(100% - 100px), 100%);
    background-color: #2f3e51;
    padding: 20px 20px 40px;
    overflow: scroll;
    &__group {
      color: $sideWhiteColor;
      &--name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &--message{
        font-size: 11px;
      }
    }
    
  }
}

// ------------------------------------------------
// main

.main-chat {
  @include h_w(100vh, calc(100% - 300px));
  background-color: #ffffff;
  display: inline-block;
  &__header{
    @include h_w(100px, 100%);
    @include dis_jus(flex, space-between);
    border-bottom: 1px solid #eeeeee;
    &__left{
      height: 100%;
      padding-top: 35px;
      margin-left: 40px; 
      &--chat-title{
        font-size: 20px;
        color:  #333333;
        margin-bottom: 15px;
      }
      &--chat-member{
        font-size: 12px;
        color: $mainBlackColor;
      }
    }
    &__right{
      @include h_w(40px, 72px);
      padding: 0px 20px;
      margin: 28px 40px 0 0;
      text-align: center;
      line-height: 40px;
      color: $btnBlueColor;
      font-size: 16px;
      display: flexbox;
      border: 1px solid $btnBlueColor;
    }
  }
  &__contents{
    @include h_w(calc(100% - 100px - 90px), 100%);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;
    overflow: scroll;
    &__content{
      &__top{
        display: flex;
        margin-bottom: 12px;
        &--user-name{
          color: #333333;
          font-size: 16px;
        }
        &--date{
          color: $mainBlackColor;
          font-size: 12px;
          margin-left: 5px;
        }  
      }
      &__message{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 46px;
      }
  
    }
  }
  &__footer{
    @include h_w(90px, 100%);
    background-color: #d2d2d2;
    padding: 0 40px;
    &__form-box{
      @include h_w(100%, 100%);
      @include dis_jus(flex, space-between);
      align-items: center;
      form{
        display: flex;
        width: 100%;
        position: relative;

      } 
      &__input{
        @include h_w(100%, 100%);
        &--message{
          @include h_w(50px, 100%);
          padding: 0 10px;
          color: $mainBlackColor;
          display: inline-block;

        }
        &__img-btn{
          position: absolute;
          right: 110px;
          bottom: 10px;
          &--hidden{
            display: none;
          }
        }
        &--send-btn{
          @include h_w(50px, 100px);
          background-color: $btnBlueColor;
          color: $sideWhiteColor;
          display: inline-block;
          margin-left: 15px;
        }
      }
    }
  }
}

